{% extends "blank.html" %}

{% block content %}
<div class="col-md-8 blog-main">

  

    <div class="blog-post">
        {% for note in notes %}
        <h2 class="blog-post-title">{{ note.title}}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        <p><a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-none">{{ note.text|truncatechars:10}}</a></p>
        {% endfor %}
    </div><!-- /.blog-post -->



  </div><!-- /.blog-main -->

  {% endblock %}